<h1 align="center">Listing all articles</h1>

		
<% @articles.each do |article| %>

	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<div class="card bg-light">
				<div class="card-body">
					<h5 class="card-title", style="font-size: 1.5em">
						<strong><%= link_to article.title, article_path(article) %> </strong>
					</h5>
					<hr style="margin: 0px">
					<p class="class-text">
						<%= truncate(article.description, length: 100) %>
					<hr style="margin-bottom: 5px">
						<p>
						<%= link_to "Edit this article", edit_article_path(article), 
									class: "btn btn-sm btn-success"%>
							<%= link_to "Delete this article", article_path(article),method: :delete, data: {confirm: "Are you sure you want to delete the article?"}, 
									class: "btn btn-sm btn-danger"%>
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</br> 	
<% end %>
